{
  "presets": ["env"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@schema": "./schema",
        "@resolvers": "./schema/resolvers",
        "@types": "./schema/types"
      }
    }]
  ]
}
